<% provide(:title, 'Transportation Procurement') %>

<div class="center jumbotron">
  <div id="clouds">
  	<div class="cloud x1"></div>
  	<div class="cloud x2"></div>
  	<div class="cloud x3"></div>
  	<div class="cloud x4"></div>
  	<div class="cloud x5"></div>
  </div>
  <div class="welcome-text">
    <h1>Welcome to C.L.O.S.E.</h1>
    <br />

    <h3><strong>C</strong>loud.<strong>L</strong>ogistics.<strong>O</strong>utbound.<strong>S</strong>hipping.<strong>E</strong>nvironment</h3>

    <br />
    <h2>

    </h2>

      <%= link_to "Create your account", new_user_registration_path, class: "btn btn-lg btn-primary" %><br />
      <br />
      <%= link_to "View Lanes", new_user_session_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

<div class="cl-logo ri"><%= link_to image_tag("cloud-logistics-logo.png", alt: "Cloud Logistics Logo"), 'http://www.gocloudlogistics.com/' %></div>
