<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hello, <%= @user.company_name %>!</h1>
		<p>
			There is a new lane opened for a request for pricing.
		</p>
		<br/>
		<p>
			Please visit www.abo.gocloudlogistics.com and log into your account. 
		</p>
		<br/>
		<p>
			Thank You <%= @user.company_name %>
		</p>
	</body>
</html>