<%= content_tag_for(:div, @offers) do |offer| %>
  <tr>
    <td><%= offer.company %></td>
    <td><%= offer.amount %></td>
    <td> Accept offer button here? </td>
    <td> Reject offer button here? </td>
  </tr>
<% end %>
