<p>
  <strong>Amount:</strong>
  <%= @offer.amount %>
</p>
<!-- add Accepted or Rejected -->
<p>
	<%= "I need to add Accepted or Rejected Here" %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
