/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
@import "bootstrap";

.container {
}

body {
}

.new_user {
  padding-top: 15px;
}

.center {
  text-align: center;
  h1 { margin-bottom: 10px;
  }
}

th {
   text-align: center;
}

h1, h2, h3 {
  line-height: 1;
  text-align: center;
}

h2 {
  letter-spacing: -1.2;
}

h1 {
  font-size: 2em;
}

/* header */

.cloud-logo-header {
  float: left;
  padding-top: 15px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-weight: bold;
}

.navbar-inverse {
  padding-left: 25px;
  padding-right: 25px;
}



.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

.img-responsive {
  margin-left: 100px;
}

/* footer */

$gray-light: #777;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-light;
  color: gray;
  font-weight: bold;
  a {

    color: gray;
    &:hover {
      color: gray;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*

.WrapFooterStretch {
  width: 100%;
  background-color: #606c80;
  height: 168px;
  font-size: 13px;
}

.WrapFooterStretch .WrapFooter a:hover {
    color: #fff;
}

.WrapFooterStretch .WrapFooter {
    position: relative;
    background: inherit;
    height: 100%;
    width: 980px;
    margin: auto;
    color: #ced8e6;
    text-align: left;
    font-size: 13px;
}

.WrapFooterStretch ul {
    margin-top: 0px;
    list-style-type: none;
    padding: 0;
}

.WrapFooterStretch .WrapFooter .FloatRight {
    float: right;
    width: 170px;
    margin-top: 20px;
}

*/

/* buttons */

#create-button {
  padding-right:
}

/* gravatar */

.gravatar {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* CL image bottom */

.ri {
	position: relative;
	max-width: 80%;
	top: 50%;
	left: 15%;
	border-radius: 3px;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.9);*/
}

.ri:empty {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  .ri { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  .ri { max-height: 90%; }
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 0px solid #ddd;
}

button, html input[type="button"],
input[type="reset"], input[type="submit"] {
  padding-right: 10px;
  width: 100%;
}
