<% provide(:title, 'Select Carriers') %>
<h1>Select carriers for this shipment</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-0">
    <code><ul id="triple"><span class="code-comment"></span>
    <%= form_for @shipment do |f| %>
    <br>
      <% @carriers.each do |carrier| %>
        <li class="choose">
          <%= carrier.company_name %>
          <% user_id = carrier.id %>
          <%= f.check_box("id", {:multiple => true}, user_id, nil) %>
        </li>
      <% end %>
    </ul></code>
      <%= f.submit "Select carriers", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
