<%= form_for @shipment do |f| %>
  <h1>Carriers:</h1>
  <ul>
    <% @carriers.each do |carrier| %>
      <li>
        <%= carrier.company_name %>
        <% user_id = carrier.id %>
        <%= f.check_box("id", {:multiple => true}, user_id, nil) %>
      </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>
