<footer class="footer">
  <small>
    Final Wyncode Project of C.A. Booty, J.P. Bamberg, and J.G. Manikan
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><a href="http://http://www.gocloudlogistics.com/en/messages/new">Request info</a></li>
      <li><a href="http://www.gocloudlogistics.com/en/press/">Press</a></li>
      
    </ul>
  </nav>
</footer>
