<footer class="footer">
  <small>
    Final Wyncode Project of C.A. Booty, J.P. Bamberg, and J.G. Manikan
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><a href="http://http://www.gocloudlogistics.com/en/messages/new">Request info</a></li>
      <li><a href="http://www.gocloudlogistics.com/en/press/">Press</a></li>

    </ul>
  </nav>
</footer>

<!--Below is inspected fr CL website footer - attempting to integrate-->

<!--<footer class="footer">
  <div class='WrapFooterStretch'>
    <div class='WrapFooter'>
      <div class='FloatLeft'>
        <div class='ShareLinks'>
          <a class="Fb" href="http://www.facebook.com/cloudlogistics" target="_blank">Facebook</a>
          <a class="Tw" href="https://twitter.com/#!/_cloudlogistics" target="_blank">Twitter</a>
          <a class="In" href="http://www.linkedin.com/company/2612461?trk=tyah" target="_blank">LinkedIn</a>
          <a class="Tb" href="http://gocloudlogistics.tumblr.com" target="_blank">Tumblr</a>
        </div>
        <div class='CopyRightText'>
          Cloud Logistics &copy; 2015
        </div>
      </div>
      <div class='FloatLeft'>
        <div class='ContactInfo'>
          <ul>
            <li>
              <a class="LinkToAbout" href="/about">About us</a>
            </li>
            <li>
              <a href="/en/messages/new">Request Info</a>
            </li>
            <li>
              <a href="/en/partners">Partners</a>
            </li>
            <li>
              <a href="/en/solutions">Solutions</a>
            </li>
            <li>
              <a class="Press" href="/en/press">Press</a>
            </li>
            <li>
              <a href="/en/privacy">Privacy</a>
            </li>
          </ul>
        </div>
      </div>
      <div class='FloatLeft'>
        <div class='ContactInfo'>
          <ul>
            <li>
              <h4>Locations</h4>
            </li>
            <li>Charlotte, NC, USA</li>
            <li>Melbourne, VIC, Australia</li>
            <li>Lima, Peru</li>
            <li>Samara, Russia</li>
            <li>Port Elizabeth, South Africa</li>
          </ul>
        </div>
      </div>
    </footer>-->
