<div class="center jumbotron">

  <h1>Welcome to C.L.O.S.E.</h1>
  <br />
  <br />
  <h3><strong>C</strong>loud.<strong>L</strong>ogistics.<strong>O</strong>utbound.<strong>S</strong>hipping.<strong>E</strong>nvironment</h3>

  <br />
  <br />
  <h2>

  </h2>

  <%= link_to "Create your account!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="cl-logo"><%= link_to image_tag("cloud-logistics-logo.png", alt: "Cloud Logistics Logo"), 'http://www.gocloudlogistics.com/' %></div>

<!-- curl -O http://rubyonrails.org/images/rails.png <- To download image
$ mv rails.png app/assets/images/ -->
<!--<% % provide(:title)>!-->
